[Unit]
Description=mongodb server instance for gallery_mongodb_service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/Repos/gallery/backend
ExecStart=/home/pi/Repos/gallery/backend/start_mongodb_server.sh

[Install]
WantedBy=multi-user.target