@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply bg-color;
  height: 100%;
}

header {
  @apply sticky top-0 bg-color-darker bg-opacity-t75;
}

footer {
  @apply my-2;
}

h1 {
  @apply mb-4 text-5xl md:text-6xl font-extrabold;
}

h2 {
  @apply mb-4 text-3xl md:text-4xl font-bold;
}

h3 {
  @apply mb-3 text-2xl md:text-3xl font-semibold;
}

h4 {
  @apply mb-3 text-xl md:text-2xl;
}

h5 {
  @apply mb-2 text-lg md:text-xl;
}
h6 {
  @apply mb-1 text-base md:text-lg;
}

p {
  @apply text-sm md:text-base;
}

.App {
  @apply text-color font-sans bg-color flex flex-col min-h-screen transition-all;
}

.page {
  @apply py-8 mx-2;
}

.centered-page-content {
  @apply max-w-screen-2xl mx-auto;
}

.text-color {
  @apply text-custom_dark dark:text-custom_light;
}
.text-color-invert {
  @apply text-custom_light-lighter dark:text-custom_dark-darker;
}

.bg-color {
  @apply bg-custom_light dark:bg-custom_dark border-custom_light-darker dark:border-custom_dark-darker;
}
.bg-color-invert {
  @apply bg-custom_dark dark:bg-custom_light  border-custom_dark-darker dark:border-custom_light-darker;
}

.bg-color-lighter {
  @apply bg-custom_light-lighter dark:bg-custom_dark-lighter border-custom_light dark:border-custom_dark;
}
.bg-color-darker {
  @apply bg-custom_light-darker dark:bg-custom_dark-darker border-custom_dark dark:border-custom_light;
}

.bg-opacity-t25 {
  @apply bg-opacity-25 dark:bg-opacity-25;
}
.bg-opacity-t50 {
  @apply bg-opacity-50 dark:bg-opacity-50;
}
.bg-opacity-t75 {
  @apply bg-opacity-75 dark:bg-opacity-75;
}

.hover-bg-color-darker {
  @apply hover:bg-custom_light-darker dark:hover:bg-custom_dark-darker;
}

.team-score-input {
  @apply bg-color-darker text-center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 1em;
}

button {
  @apply rounded-lg px-2 py-1 text-color-invert font-semibold bg-color-invert;
}

.button-valid {
}

.button-invalid {
  @apply bg-color-darker;
}

.bw-icon {
  width: 1.25em;
  height: 1.25em;
}

.component {
  @apply bg-color-lighter;
}

.card {
  @apply rounded-xl overflow-hidden shadow-lg component p-2 m-1;
}

.toast-container {
}

.toast-card {
  @apply card;
}

.toast-body {
  @apply text-color;
}

.modal {
  @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center;
}

/*
--gunmetal: #2d3142ff;
--paynes-gray: #4f5d75ff;
--silver: #bfc0c0ff;
--white: #ffffffff;
--coral: #ef8354ff;

--gunmetal: hsla(229, 19%, 22%, 1);
--paynes-gray: hsla(218, 19%, 38%, 1);
--silver: hsla(180, 1%, 75%, 1);
--white: hsla(0, 0%, 100%, 1);
--coral: hsla(18, 83%, 63%, 1);

$gunmetal: #2d3142ff;
$paynes-gray: #4f5d75ff;
$silver: #bfc0c0ff;
$white: #ffffffff;
$coral: #ef8354ff;

$gunmetal: hsla(229, 19%, 22%, 1);
$paynes-gray: hsla(218, 19%, 38%, 1);
$silver: hsla(180, 1%, 75%, 1);
$white: hsla(0, 0%, 100%, 1);
$coral: hsla(18, 83%, 63%, 1);

$gunmetal: rgba(45, 49, 66, 1);
$paynes-gray: rgba(79, 93, 117, 1);
$silver: rgba(191, 192, 192, 1);
$white: rgba(255, 255, 255, 1);
$coral: rgba(239, 131, 84, 1);

$gradient-top: linear-gradient(
  0deg,
  #2d3142ff,
  #4f5d75ff,
  #bfc0c0ff,
  #ffffffff,
  #ef8354ff
);
$gradient-right: linear-gradient(
  90deg,
  #2d3142ff,
  #4f5d75ff,
  #bfc0c0ff,
  #ffffffff,
  #ef8354ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #2d3142ff,
  #4f5d75ff,
  #bfc0c0ff,
  #ffffffff,
  #ef8354ff
);
$gradient-left: linear-gradient(
  270deg,
  #2d3142ff,
  #4f5d75ff,
  #bfc0c0ff,
  #ffffffff,
  #ef8354ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #2d3142ff,
  #4f5d75ff,
  #bfc0c0ff,
  #ffffffff,
  #ef8354ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #2d3142ff,
  #4f5d75ff,
  #bfc0c0ff,
  #ffffffff,
  #ef8354ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #2d3142ff,
  #4f5d75ff,
  #bfc0c0ff,
  #ffffffff,
  #ef8354ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #2d3142ff,
  #4f5d75ff,
  #bfc0c0ff,
  #ffffffff,
  #ef8354ff
);
$gradient-radial: radial-gradient(
  #2d3142ff,
  #4f5d75ff,
  #bfc0c0ff,
  #ffffffff,
  #ef8354ff
);

*/
