@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Layer */
@layer base {
  .app-bg-color {
    @apply bg-light dark:bg-dark-darker;
  }

  .component-bg-color {
    @apply bg-light-lighter dark:bg-dark border-light-darker dark:border-dark-lighter;
  }

  .component-bg-color-invert {
    @apply bg-dark dark:bg-light border-dark-lighter dark:border-light-lighter;
  }

  .text-color {
    @apply text-dark dark:text-light;
  }
  .text-color-invert {
    @apply text-light dark:text-dark;
  }

  body,
  html {
    @apply app-bg-color;
    height: 100%;
  }

  .App {
    @apply text-color font-sans app-bg-color min-h-screen;
  }

  h1,
  .h1 {
    @apply mb-4 text-5xl md:text-6xl font-extrabold;
  }

  h2,
  .h2 {
    @apply mb-4 text-3xl md:text-4xl font-bold;
  }

  h3,
  .h3 {
    @apply mb-3 text-2xl md:text-3xl font-semibold;
  }

  h4,
  .h4 {
    @apply mb-3 text-xl md:text-2xl;
  }

  h5,
  .h5 {
    @apply mb-2 text-lg md:text-xl;
  }
  h6,
  .h6 {
    @apply mb-1 text-base md:text-lg;
  }

  p,
  .p {
    @apply text-sm md:text-base;
  }
}

@layer components {
  .card {
    @apply component-bg-color rounded-2xl border-[1px] p-2;
  }

  .button-base {
    @apply rounded-xl p-2;
  }

  .button-disabled {
    @apply bg-opacity-40 text-opacity-40;
    pointer-events: none;
  }

  .button-base:disabled {
    @apply button-disabled;
  }

  .button-primary {
    @apply button-base bg-primary text-white border-primary;
  }

  .button-secondary {
    @apply button-base component-bg-color-invert text-color-invert;
  }
}

@layer utilities {
}

.page {
  @apply py-8 mx-2;
}

.centered-page-content {
  @apply max-w-screen-2xl mx-auto;
}

.bw-icon {
  width: 1.25em;
  height: 1.25em;
}

.error-message {
  @apply text-red-500;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  z-index: 1000; /* Ensure it is above other content */
}

.auth-modal {
  @apply max-w-[300px];
}

#login,
#sign-up,
#login-with-email {
  @apply auth-modal;
}

/* Button */

button {
  transition: 0.2s;
}

#mobile-footer {
  @apply fixed bottom-0 left-0 w-full transition-transform transform translate-y-full;
}

.loader-base {
  border-width: 0.15em;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  animation: rotation 1s ease-in-out infinite;
}

.loader {
  @apply loader-base border-light dark:border-dark border-t-primary dark:border-t-primary;
}

.loader-secondary {
  @apply loader-base border-primary border-t-light dark:border-t-dark;
}

/* Input */
form header {
  @apply h2 text-center;
}

form label {
  @apply h6;
}

form .input-text {
  @apply h4 rounded-xl border-2 py-1 px-2 focus-within:border-primary;
  transition: border-color 0.2s;
}

form button[type='submit'] {
  @apply button-primary flex flex-row justify-center p-4 rounded-3xl mb-0 h5;
}

form .text-input input[type='text'],
form .text-input input[type='password'],
form .text-input input[type='email'],
form .text-input input[type='datetime-local'] {
  @apply w-full bg-inherit focus:outline-none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
